body {
    background-color: whitesmoke;
}
 
main {
    color:rgb(0, 0, 0);
}

nav {
    background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: crimson;
}

.logo {
    display: block;
    width: 100px;
    margin: 20px;
}