body {
    background-color: rgb(231, 213, 213);
}
 
main {
    color:rgb(0, 0, 0);
}

nav {
    background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: black;
    text-decoration: underline;
}

.logo {
    display: block;
    width: 150px;
    margin: 20px;
}

.link {
    width: 350px;
    height: 480px;
    margin: 20px;
}

p {
    text-align: center;
    font-family: "Lucida Console", "Counter New", monospace;
}

h5 {
    text-align: right;
}
